html
  head
    block head
    - var appName = 'Recipe Book'
    title #{pageTitle} &ndash; #{appName}
    link(rel='stylesheet', href='/styles.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    header.top
      a(href='/')
        img(src='/assets/logo.png', alt='Logo', style='width: 50px; height: 50px;')
      h1 #{pageTitle}
	  
    aside
      ul
        li
          a(href='/') Home
        li
          a(href='/recipes') Recipes
        li 
          a(href='/recipes/create') Create
        li 
          a(href='/recipes/search') Search

    main
      if errMsg
        div(class='err') Error: #{errMsg}
      block content
    
    footer
      div © #{new Date().getFullYear()} - #{appName}