extends layout.pug

block head
  - var pageTitle = 'Recipe Details'

block content
  div(class='recipe-details')
    div(class='recipe-details-section')
      h2 Name
      p #{recipe.name} 

    div(class='recipe-details-section')
      h2 Ingredients
      ul
        each ingredient in recipe.ingredients.split(',')
          li= ingredient.trim()

    div(class='recipe-details-section')
      h2 Description
      p #{recipe.description} 

    div(class='recipe-details-section')
      h2 Complexity
      p #{recipe.complexity} 

    div(class='recipe-details-section')
      h2 Image
      img(src=recipe.imageUrl, alt='Recipe Image')
