{{!-- <div class="recipe-details">
  <div class="recipe-details-section">
    <h2>Name</h2>
    <p>{{recipe.name}}</p>
  </div>

  <div class="recipe-details-section">
    <h2>Ingredients</h2>
    <ul>
      {{#each recipe.ingredientsArray}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="recipe-details-section">
    <h2>Description</h2>
    <p>{{recipe.description}}</p>
  </div>

  <div class="recipe-details-section">
    <h2>Complexity</h2>
    <p>{{recipe.complexity}}</p>
  </div>

  <div class="recipe-details-section">
    <h2>Image</h2>
    <img src="{{recipe.imageUrl}}" alt="Recipe Image">
  </div>
</div> --}}

<table class="recipe-details">
  <tr class="name">
    <th>Name</th>
    <td>{{recipe.name}}</td>
  </tr>
  <tr class="ingredients">
    <th>Ingredients</th>
    <td class="ingredients">
      <ul>
        {{#each recipe.ingredientsArray}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </td>
  </tr>
  <tr class="description">
    <th>Description</th>
    <td class="description">{{recipe.description}}</td>
  </tr>
  <tr class="complexity">
    <th>Complexity</th>
    <td class="complexity">{{recipe.complexity}}</td>
  </tr>
  <tr class="imageUrl">
    <th>Image</th>
    <td>
      <img src="{{recipe.imageUrl}}" alt="Recipe Image">
    </td>
  </tr>
</table>