extends layout.pug

block head
  - var pageTitle = 'Recipe Details'

block content
  table(class='recipe-entry' id=`${'recipe' + recipe.id}`)
    tr.recipeid
      th ID
      td #{recipe.id} 
    tr.name
      th Name
      td #{recipe.name} 
    tr.ingredients
      th Ingredients
      td.ingredients #{recipe.ingredients} 
    tr.description
      th Description
      td.description #{recipe.description} 
    tr.complexity
      th Complexity
      td.complexity #{recipe.complexity} 
    tr.imageUrl
      th Image
      td
        img(src=recipe.imageUrl, alt='Recipe Image')
