div.recipes-grid
  each recipe in recipes
    a(href=`/recipes/${recipe.id}`)
      table(class='recipe-entry' id=`${'recipe' + recipe.id}`)
        tr.name
          th Name
          td #{recipe.name} 
        tr.ingredients
          th Ingredients
          td.ingredients #{recipe.ingredients} 
        tr.description
          th Description
          td.description #{recipe.description} 
        tr.complexity
          th Complexity
          td.complexity #{recipe.complexity} 
        tr.imageUrl
          th Image
          td
            img(src=recipe.imageUrl, alt='Recipe Image')
