<h1>{{name}}</h1>
{{#if keyword}}
  <h1>Recipes Matching Keyword "{{keyword}}"</h1>
  {{#if recipes}}
    <div id="searchResult">{{recipes.length}} recipes found.</div>
    <br>
    {{#each recipes}}
      {{> recipes-info}}
      <br>
    {{/each}}
  {{else}}
    <div id="searchResult">No recipes found.</div>
    <br>
  {{/if}}
{{/if}}

<form method="GET">
  <table class="recipe-entry form">
    <tr class="name">
      <th>Keyword</th>
      <td>
        <input id="keyword" type="text" name="keyword" value="{{keyword}}">
      </td>
    </tr>
  </table>
  <button id="search" type="submit">Search</button>
</form>
